* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
  color: #333;
  background: url("../images/fond-effet-zoom-dessine-main_23-2149810737.avif")
    fixed center/cover no-repeat;
  margin: 0;
  padding: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
